<section class="education-hero">
    <h1>Education</h1>
    <p class="lead">My academic journey and professional certifications</p>
</section>

<section class="experience">
    <h2>Education Experience</h2>
    <div class="skill-grid">
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/education/bocconi.jpg" alt="Company Logo" class="company-logo">
                    <h3>Università Bocconi</h3>
                </div>
                <p class="date">Aug 2024</p>
                <p class="institution">Bachelor's degree, Business Economics and Management</p>
                <ul>
                    <li>GPA: 29.67/30</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/education/frisi.jpg" alt="Company Logo" class="company-logo">
                    <h3>Paolo Frisi Monza</h3>
                </div>
                <p class="date">Sep 2019 - Jun 2024</p>
                <p class="institution">Diploma, Scientific High School</p>
                <ul>
                    <li>Grade: 80/100</li>
                    <li>Presidential advisor of the Provincial Student Council (CPS) a.s. 23-24</li>
                    <li>School representative in CPS a.s. 23-24</li>
                    <li>School student leader a.s. 21-22</li>
                    <li>Class student leader aa.ss. 19-20, 21-22</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/education/harvard.png" alt="Company Logo" class="company-logo">
                    <h3>CS50x</h3>
                </div>
                <p class="date">Mar 2023 - Jun 2023</p>
                <p class="institution">Computer Science</p>
                <ul>
                    <li>Topics: abstraction, algorithms, data structures, encapsulation, resource management, security, software engineering, web development</li>
                    <li>Languages: C, Python, SQL, JavaScript, CSS, HTML</li>
                    <li>Skills: Database Design, SQLite</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/education/RE_mountain.jpg" alt="Company Logo" class="company-logo">
                    <h3>R.E. Mountain Secondary School</h3>
                </div>
                <p class="date">Sep 2022 - Jun 2023</p>
                <p class="institution">Canadian Diploma</p>
                <ul>
                    <li>Programming Club, Business Club, Chess Club, Cross Country team, Rugby team</li>
                    <li>Twelfth grade of high school as an international student for 10 months in Langley, BC, Canada</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="certifications">
    <h2>Licenses & Certifications</h2>
    <div class="cert-grid">
        <div class="card cert-card">
            <h3>IELTS - 8.0/9.0</h3>
            <p class="issuer">IELTS Official</p>
            <p class="date">Issued Jun 2025</p>
            <p>Credential ID: 25IT505889CATF010A</p>
        </div>
        <div class="card cert-card">
            <h3>ECDL full standard</h3>
            <p class="issuer">ICDL Certification</p>
            <p class="date">Issued Feb 2025</p>
        </div>
        <div class="card cert-card">
            <h3>Investment Banking Job Simulation</h3>
            <p class="issuer">JPMorganChase</p>
            <p class="date">Issued Feb 2025</p>
            <p>Credential ID: K8Mxhi3iWd4k4FExF</p>
        </div>
        <div class="card cert-card">
            <h3>Investment Banking Prep Bootcamp</h3>
            <p class="issuer">Wall Street Oasis</p>
            <p class="date">Issued Dec 2024</p>
        </div>
        <div class="card cert-card">
            <h3>Excel Masterclass for Financial Modeling</h3>
            <p class="issuer">Wall Street Oasis</p>
            <p class="date">Issued Nov 2024</p>
        </div>
        <div class="card cert-card">
            <h3>Latin Language Certification</h3>
            <p class="issuer">Consulta Universitaria di Studi Latini</p>
            <p class="date">Issued Apr 2021</p>
            <p>Credential ID: Francesco Catalanotti</p>
        </div>
    </div>
</section> 