<section class="work-hero">
    <h1>My Work</h1>
    <p class="lead">A collection of my projects and professional experience</p>
</section>

<section class="experience">
    <h2>Professional Experience</h2>
    <div class="skill-grid">
        <div class="timeline-item skill-box">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/MIMS.jpeg" alt="Company Logo" class="company-logo">
                    <h3>Minerva Investment Management Society</h3>
                </div>
                <p class="date">Mar 2025 - Present</p>
                <ul>
                    <li><strong>Portfolio Analyst</strong><br>
                        Conducted analysis and selection of the most suitable bond and equity ETFs in the APAC region for inclusion in the Diversified Passive Selection Fund.<br>
                        Researched through Emerging Markets for opportunities in the junk-bond market and sub-investment grade corporate bonds.
                    </li>
                </ul>
            </div>
        </div>
        <div class="timeline-item skill-box">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/BSVI.jpeg" alt="Company Logo" class="company-logo">
                    <h3>Bocconi Students for Value Investing</h3>
                </div>
                <p class="date">Sep 2024 - Present</p>
                <ul>
                    <li><strong>Vice President</strong> (Jan 2025 - Present)<br>
                        Activities: recruiting process, event organisation, reports review, team management, social and website management.
                    </li>
                    <li><strong>Equity Research Analyst</strong> (Sep 2024 - Present)<br>
                        Activities: financial statement analysis, DCF and reverse DCF valuation, market multiples analysis, transactions comparable analysis, due diligence process.<br>
                        Co-author of the financial and valuation part of a report about Jack In The Box (JACK).<br>
                        Author of the valuation and report about Sanlorenzo (SL).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="projects">
    <h2>Featured Projects</h2>
    <div class="project-grid">
        <div class="card project-card">
            <div class="project-content">
                <h3>Passive Selection Fund's Report</h3>
                <p>Selected a few ETFs</p>
                <div class="project-link">
                    <a href="/documents/projects/MIMS_report_1_2025.pdf" class="btn btn-primary">View Report</a>
                </div>
            </div>
        </div>
    </div>
</section>