<section class="work-hero">
    <h1>My Work</h1>
    <p class="lead">A collection of my projects and professional experience</p>
</section>

<section class="experience">
    <h2>Professional Experience</h2>
    <div class="skill-grid">
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/neokmos.png" alt="Company Logo" class="company-logo">
                    <h3>Neokmos - Management Consulting</h3>
                </div>
                <p class="date">Jul 2025</p>
                <strong>Intern</strong><br>
                <ul>
                    <li>Worked on a benchmark analysis of financial statements of a company in the packaging industry.</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/MIMS.jpeg" alt="Company Logo" class="company-logo">
                    <h3>Minerva Investment Management Society</h3>
                </div>
                <p class="date">Mar 2025 - Present</p>
                <strong>Portfolio Analyst</strong><br>
                <ul>
                    <li>Conducted analysis and selection of the most suitable bond and equity ETFs in the APAC region for inclusion in the Diversified Passive Selection Fund.</li>
                    <li>Researched through Emerging Markets for opportunities in the junk-bond market and sub-investment grade corporate bonds.</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item panel">
            <div class="timeline-content">
                <div class="company-header">
                    <img src="/images/BSVI.jpeg" alt="Company Logo" class="company-logo">
                    <h3>Bocconi Students for Value Investing</h3>
                </div>
                <p class="date">Sep 2024 - Present</p>
                <strong>Vice President</strong> (Jan 2025 - Present)<br>
                <ul>
                    <li>
                        Activities: recruiting process, event organisation, reports review, team management, social and website management.
                    </li>
                </ul>
                <strong>Equity Research Analyst</strong> (Sep 2024 - Present)<br>
                <ul>
                    <li>Activities: financial statement analysis, DCF and reverse DCF valuation, market multiples analysis, transactions comparable analysis, due diligence process.</li>
                    <li>Co-author of the financial and valuation part of a report about Jack In The Box (JACK).</li>
                    <li>Author of the valuation and report about Sanlorenzo (SL).</li>
                </ul>
            </div>
        </div>
    </div>
</section>